@model ArtistDTO

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<style>
    .card-img-top {
        display: block;
        margin: 0 auto;
        border-radius: 20px;
        
    }
    
    .album-card .card-img-top {
        object-fit: cover;
        height: 200px;
        width: 100%;
        border-radius: 5px;
    }
    
    a:hover{
        cursor: pointer;
    }
</style>

<div class="container-fluid d-flex justify-content-center align-items-center full-page mt-5">
    <div class="card text-center p-5 border-0">
        <img class="card-img-top w-50 text-center" src="@Model.ImageUrl" alt="Card image cap">
        <h1 class="display-4 mt-3">@Model.Name</h1>

        <div class="container my-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (Album album in @Model.Albums)
                {
                    <div class="col">
                        <div class="card h-100 album-card">
                            <img src="@album.ImageUrl" class="card-img-top" alt="Album's Cover Image">
                            <div class="card-body">
                                <h5 class="card-title">@album.Title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Details...</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>